.product-image-small {
    max-width: 150px;
    height: auto;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
    border-radius: 10px;
  }
  
.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.color-options {
  margin-top: 1rem;
}

.color-option {
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.size-options {
  margin-top: 1rem;
}

.size-option {
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}